.row-mid {
    margin-left: 300px;
    margin-right: 300px;
}
.row-mid row-mid {
    margin-left: 300px;
    margin-right: 300px;
}

.col-md-12 {
    width: 100%;
    margin: 5px 1px 5px 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-2 {
        width: 20%;
        padding-left: 0px;
        padding-right: 5px;
}


.col-md-3 {
        width: 25%;
        padding-left: 0px;
        padding-right: 5px;
}

.col-md-4 {
        width: 33.33333333%;
        padding-left: 0px;
        padding-right: 5px;
}

.col-md-5 {
        width: 40.4444444%;
        padding-left: 0px;
        padding-right: 5px;
}


.col-md-6 {
        width: 50%;
        padding-left: 15px;
        padding-right: 0px;
}

.col-md-12-inner {
    width: 100%;
    margin: 10px 1px 5px 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-4-inner {
        width: 33.33333333%;
        margin: 10px 1px 5px 0px;
        padding-left: 0px;
        padding-right: 0px;
}

.label-title {
    font-size: 20px;
}

.label-subtitle {
    color: #9d9d9d;
}

.label-svctitle {
    color: #d43f3a;
}

.col-md-round-box {
        width: 100%;
        overflow: auto;
        border: 1px solid;
        border-color: #9d9d9d;
        border-radius: 2em;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
        padding: 20px 20px 20px 20px;
        margin: 10px 10px 10px 10px;
}