<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
	<title>Login</title>
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/static/bg/bg_style.css" />
	<!-- Google Font -->
	<link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core CSS -->
	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap/3.2.0/bootstrap.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<!-- jQuery Library -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <!-- Bootstrap Core JS -->
	<script src="/static/js/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
	<section class="container">
              <!-- 로그인 되어있는 경우 -->
        {% if user.is_active %}
          <h2> Welcome, {{user.username}} </h2>
          <a href="{% url 'logout' %}">로그아웃</a>

          <!-- 로그인 되어있지 않은 경우 -->
        {% else %}
        {% if form.errors %}
            <!-- 에러발생시 -->
            <p>ID나 비밀번호가 일치하지 않습니다.</p>
        {% endif %}

                <!--
            <form method="post" action="{% url 'login' %}" role="login">
                {% csrf_token %}
                <input type="hidden" name="next" value="" />
                <input type="id" name="id" placeholder="아이디" required class="form-control input-lg" />
                <input type="password" name="password" placeholder="패스워드" required class="form-control input-lg" />
                <button type="submit" name="go" class="btn btn-lg btn-block btn-info">Sign in</button>
                <div>
                    <a href="#">Create account</a> or <a href="#">reset password</a>
                </div>
            </form>
            -->
            <section class="login-form">
                <form method="POST" action="{% url 'login' %}" role="login">
                    <div>
                            <img src="/static/img/h1_sk_planet.png" alt="" />
                            <h4>Login to L4 device controller</h4>
                    </div>
                    {% csrf_token %}
                    <div class="form-group">
                        <!--<label for="{{ form.username.id_for_label }}">아이디</label>-->
                        <input class="form-control input-lg" placeholder="아이디" id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}" type="id" required />
                    </div>
                    <div class="form-group">
                        <!--<label for="{{ form.password.id_for_label }}">패스워드</label>-->
                        <input class="form-control input-lg" placeholder="패스워드" id="{{ form.password.id_for_label }}" maxlength="120" name="{{ form.password.html_name }}" type="password" />
                    </div>
                    <button type="submit" name="go" class="btn btn-lg btn-block btn-info">
                        Sign in
                        <input type="hidden" name="next" value="">
                    </button>
                </form>
            </section>
        {% endif %}
	</section>
</body>
</html>